version: '3'
services:
  zookeeper:
    image: 'zookeeper'
    ports:
      - "2181:2181"
    volumes:
    - data_zookeeper:/data
    - data_zookeeperlog:/datalog
  kafka:
    image: 'rwlv2-kafka:latest'
    depends_on:
      - zookeeper
    ports:
      - "9094:9094/tcp"
    volumes:
      - data_kafka:/var/kafka-logs
    environment:
      KAFKA_HOST: localhost
  keycloak:
    image: 'rwlv2-keycloak:latest'
    ports:
      - "8580:8580"
      - "10499:10499"
    depends_on:
      - postgres
  postgres:
    image: 'rwlv2-postgres:latest'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
    - "5432:5432"
    volumes:
    - data_db:/var/lib/postgresql/data
  user:
    image: rwlv2-user:latest
    depends_on:
      - postgres
    ports:
      - "8180:8180/tcp"
    env_file:
      - env-user
  article:
    image: rwlv2-article:latest
    depends_on:
      - postgres
    ports:
      - "8280:8280/tcp"
    env_file:
      - env-article

volumes:
  data_db:
  data_kafka:
  data_zookeeper:
  data_zookeeperlog:
