# This is a template to demonstrate how to configure properties for docker-compose files.
# This file is for the container of the article application.
# Rename it to "env-article" and fill-in the correct values.
# Docker-compose files are designed to pick it up.
# The Maven build will generate the env-user file in realworld-v2-article/target/docker.

QUARKUS_DATASOURCE_URL=
QUARKUS_DATASOURCE_USERNAME=
QUARKUS_DATASOURCE_PASSWORD=
